@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: linear-gradient(#c3c3c3, #ffffff);
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
.cabecalho-home{
    font-size: 40px;
}
.cabecalho-menu{
    display: flex;
    font-size: 20px;
}
.cabecalho-menu-item{
    padding: 15px;
}
.cabecalho-menu-item:hover{
    background-color: #878787;
    transition: 0.3s;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    width: 400px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    line-height: 40px;
}
.conteudo-imagem{
    height: 500px;
    width: 800px;

}
.conteudo-principal-escrito-titulo{
    margin-bottom: 20px;
}
.conteudo-principal-escrito-botao{
    font-size: 18px;
    padding: 15px;
    width: 130px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    background-color: #A5A5A5;
    color: black;
    cursor: pointer;
}
.conteudo-principal-escrito-botao:hover{
    transition: 0.3s;
    color: white;
}
.conteudo-rodape{
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    height:150px;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    gap: 35px;
}
.conteudo-rodape-redes-sociais{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.conteudo-rodape-redes-sociais-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.conteudo-rodape-redes-sociais-item:hover{
    background-color: #878787;
    transition: 0.3s;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
}
.conteudo-historia{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    font-family: 'Oswald', sans-serif;
}
.footer-historia{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    line-height: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.conteudo-historia-titlo-paragrafo{
    margin:30px;
}
.section-historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.albuns{
    max-width: 75%;
    margin: auto;
    box-sizing: border-box;
    position: static;
}
.albuns-primeira-linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: static;
}
.albuns-segunda-linha{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 86px;
    position: static;
}
.albuns-bbng{
    padding-top: 10px;
    height: 330px;
    width: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    line-height: 35px;
    position: static;
}
.albuns-bbng:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: 0.3s;
}
.albuns-bbng-ouvir{
    width: 70px;
    height: 40px;
    background-color:#A5A5A5;
    border-radius: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.albuns-bbng-ouvir:hover{
    color: #ffffff;
}
.albuns-bbng-img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
a:visited{
    color: black;
}
.btn-menu:active{
    display: none;
}
.cabecalho-home:active{
    color:white;

}
